body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#mensagem-container{
    width: 80%;
    max-width: 1200px;
}

#mensagem-container div{
    background-color: #ccc;
    padding: 5px;
}

#mensagem-container div:nth-child(2n){
    background-color: #fff;
}